[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "velocypack"]
	path = velocypack
	url = https://github.com/arangodb/velocypack
[submodule "simple-web-server"]
	path = simple-web-server
	url = https://github.com/eidheim/Simple-Web-Server.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "function2"]
	path = function2
	url = https://github.com/Naios/function2.git
[submodule "immer"]
	path = immer
	url = https://github.com/arximboldi/immer.git
